﻿@model INTER.DataModel.CreateClasserModel

@{
    ViewBag.Title = "title";
    Layout = "_Admin";
}

<div class="container-fluid" >
    <div class="row">
        <div class="col-sm-12">
            
            <table class="table table-bordered table-hover">
                <form asp-controller="Classer" asp-action="CreateClass" method="post">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Email" asp-for="ClassName">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Password" asp-for="ClassMember">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Create</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
            </table>
        </div>
       
    </div>
</div>
