﻿@model IEnumerable<INTER.DataAccess.Classer>

@{
    ViewBag.Title = "title";
    Layout = "_Admin";
}


<div class="container-fluid">
    <div class="row">
        <a class="btn btn-primary " asp-controller="Classer" asp-action="CreateClass">Create Class</a>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered table-hover">
                <thead class="thead-light">       
                <tr style="background-color: darkgrey">
                    <td >ID</td>
                    <td >Class Name</td>
                    <td >Class Member</td>
                    <td style="text-align: center">Update - Delete</td>
                </tr>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td >@item.Id</td>
                        <td>@item.ClassName</td>
                        <td>@item.ClassMember</td>
                        <td style="text-align: center">
                            <a class="btn btn-primary " asp-route-name="@item.ClassName" asp-controller="Classer" asp-action="Update" asp-route-id="@item.Id"  >Update</a>
                            <a class="btn btn-primary " asp-route-id="@item.Id" asp-action="DeleteClass" asp-controller="Classer">Delete</a>
                        </td>
                    </tr>
                }
                </tbody>
                </thead>

            </table>
        </div>

    </div>
</div>


   
