﻿@model INTER.DataModel.LoginModel

@{
    ViewBag.Title = "title";
    Layout = "_login";
}
<div class="login-box">
  <div class="login-logo">
    <a href="../../index2.html"><b>Admin</b>LTE</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Sign in to start your session</p>
      
      <form asp-controller="Account" asp-action="Edit" method="post">
 
        <div class="input-group mb-3">
        
          <input type="text" class="form-control" placeholder="Email" asp-for="Username"  >
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>


        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Password" asp-for="Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Update</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      </div>
    
    </div>
    <!-- /.login-card-body -->
  </div>
