﻿
@model IEnumerable<INTER.DataAccess.User>

@{
    ViewBag.Title = "title";
    Layout = "_Admin";
}



@foreach (var item in Model)
{
    <div class="login-box" style="float: left; margin-left: 5px ">
      
     
        <div class="card"  >
            <div class="card-body login-card-body">
                <p class="login-box-msg">Account</p>

                <form   >
                    <div class="input-group mb-3">
          
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="text" class="form-control" placeholder="Email" value="@item.Username" >
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
        
        
                    <div class="input-group mb-3">  
                        <input type="password" class="form-control" placeholder="Password" value="@item.Password" >
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        
                        <!-- /.col -->
                        <div class="col-6" style="text-align: center">
                            <a  class="btn btn-primary "  asp-route-id="@item.Id" asp-route-username="@item.Username" asp-action="Edit" asp-controller="Account" >Update</a>
                        </div>
                   
                        <div class="col-6" style="text-align: center">
                            <a  class="btn btn-primary "  asp-route-id="@item.Id" asp-action="Delete" asp-controller="Account" >Delete</a>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

            </div>
    
        </div>
        <!-- /.login-card-body -->
    </div>
}






