﻿@model INTER.DataModel.CreateStudentModel

@{
    ViewBag.Title = "title";
    Layout = "_Admin";
}

<div class="container-fluid" >
    <div class="row">
        <div class="col-sm-12">
            
            <table class="table table-bordered table-hover">
                <form asp-controller="Classer" asp-action="CreateClass" method="post">
                    <div class="input-group mb-12">
                       
                       
                        <div class="input-group-append" style="margin: auto">
                            <div style="margin: auto">
                                <h1 >Update Student</h1>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-12">

                        <input type="text" class="form-control" placeholder="Msv" asp-for="StudentMasv">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-angle-double-down"></span>
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-12">
                        <input type="password" class="form-control" placeholder="Name" asp-for="StudentName">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-angle-double-down"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-12">
                        <input type="password" class="form-control" placeholder="Age" asp-for="StudentAge">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-angle-double-down"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-12">
                        <input type="password" class="form-control" placeholder="Address" asp-for="StudentAddress">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-angle-double-down"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-12">
                       
                        <input type="password" class="form-control" placeholder="Password" >
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-angle-double-down"></span>
                            </div>
                        </div>
                    </div>

                </form>
            </table>
        </div>
       
    </div>
    
    <div class="row">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary btn-block">Create</button>
        </div>
        <!-- /.col -->
    </div>
</div>
