﻿
@using INTER.DataAccess
@model IEnumerable<INTER.DataAccess.Student>

@{
    ViewBag.Title = "title";
    Layout = "_Admin";
}

<div class="container-fluid">
    <div class="row">
        <a class="btn btn-primary " >Create Class</a>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered table-hover">
                <thead class="thead-light">       
                <tr style="background-color: darkgrey">
                    <td>StudentMasv</td>
                    <td>StudentName</td>
                    <td>StudentAge</td>
                    <td>StudentAddress</td>
                    <td>Classer</td> 
                    <td style="text-align: center">Update - Delete</td>
                </tr>
                </thead> 
                <tbody> 
                @foreach(var item in Model)
                { 
                    <tr> 
                        <td >@item.Id</td> 
                        <td>@item.StudentName</td> 
                        <td>@item.StudentAge</td> 
                        <td>@item.StudentAddress</td> 
                        <td>@item.Classer</td> 
                        <datalist>@item.StudentName</datalist>
                        <td style="text-align: center"> 
                            <a class="btn btn-primary "    >Update</a> 
                            <a class="btn btn-primary " >Delete</a> 
                        </td> 
                    </tr> 
                } 
                </tbody>
              

            </table>
        </div>

    </div>
</div>


